@model SS.Annotator.Models.TextResource

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Text Resource</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("Edit")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TextResourceId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-default">Back to List</a>
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>