@{
    ViewData["Title"] = "Home Page";
}

<h1>Real-Time Context of Virus Detection</h1>
<div class="row">
    <div class="col-md-12">
        <h2>Overview</h2>
        Nowadays, the interest in data modelling from the spatial-temporal perspective is constantly increasing. Moreover, a wide variety of applications, such as social network data, need to be done to study spatiotemporal patterns. In general, however, these patterns are highly complex and challenging, so it is a demanding process to analyse or to classify them as the conventional context in various types of event data. In order to analyse the traffic viral within the text from the perspective of impressive negative effects, we should spatial-temporally localize the event and geographical regions and give a semantically interpreting of what happened. We propose a review of the best models and techniques applied for social media data processing to formalize a novel theory of action and time. This investigation intends to draw the basic knowledge level over which research intended to decipher in texts the occurrence of events, together with their involved characters, and their relationship with time and space.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">text data repository</a> (tweets)</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">situation reports</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">prediction results</a></li>
        </ul>
    </div>
</div>
