@import url('create-resource-file-upload-control.css');

#TextBoxControl {
    font-size: 18px;
    min-height: 300px;
}

.annotate-modal {
    margin-top: 200px;
}

.results-modal {
    width: 800px;
    margin-top: 200px;
}

.padding-right-xs {
    padding-right: 5px;
}

.mb-3 {
    margin-bottom: 2rem;
}

.font-weight-bold {
    font-weight: bold
}

.mb-1 {
    margin-bottom: 1rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.p-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container.p-y-1 {
    padding-bottom: 0;
}

.form-group.drag-and-drop-input {
    margin-bottom: 0;
}